
p {
    font-size: 30px;
    color: red;
    font-family: cursive;
}
#demo {
    font-size: 30px;
    color: green;
    font-family: "Agency FB";
}
.demo {
    font-size: 30px;
    color: blue;
    font-family: "Times New Roman";
}